.env
web/.env

# Composer dependencies
vendor/

# Composer lock file (optional: you usually keep it)
composer.lock
composer.json

# OS / Editor files
.DS_Store
Thumbs.db
*.log

# PHPStorm / VSCode
.idea/
.vscode/