.env
web/.env

# Composer dependencies
web/vendor/

# Composer lock file (optional: you usually keep it)
web/composer.lock
web/composer.json

# OS / Editor files
.DS_Store
Thumbs.db
*.log

# PHPStorm / VSCode
.idea/
.vscode/